#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/DSC02370.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#filter {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  position: relative;
  margin: 0 10%;
  padding-bottom: 3em;
}

#content h1 {
  margin-top: 3em;
  font-size: calc(3vw + 2em);
  font-family: Arial;
}

#content h2 {
  font-size: calc(1.5vw + 1.3em);
  font-weight: bold;
}

#content p {
  margin-top: 1.5em;
  line-height: 1;
  font-size: calc(3vw + 1em);
  font-family: Arial;
}

br.space {
  line-height: 2;
}
