<div>
  <span class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
    <img src="./assets/cover_photo.jpg" alt="image"/>
  </span>
  <span class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
    <div class="content">
      <div class="nav">
        <span id="description">
          Lýsing
        </span>
        <span id="entrepreneur">
          Frumkvöðull
        </span>
        <span id="contact last">
          Hafa Samband
        </span>
      </div>
      <div class="text">
        Ég er útskriftarnemi í Háskólanum í Reykjavík og hef sett sérstaka áherslu á vefforritun og vefþjónustur ásamt aukalegri menntun í C++. Ég mun útskrifast vorið 2017.
      </div>
    </div>
  </span>
</div>
