#background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(/assets/ComputerScience.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*filter: blur(0px);
  -webkit-filter: blur(3px);*/
}

.border {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: calc(1.1vw + 0.4em) solid white;
}

.curve {
  border-radius: calc(2* (1.1vw + 0.4em));
}

#filter {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  position: relative;
  margin: 0 10% 0 10%;
  padding-bottom: 3em;
}

#content h1 {
  margin-top: 3em;
  font-size: calc(3vw + 2em);
  font-weight: bold;
  font-family: Arial;
  color: orange;
}

#content h2 {
  font-size: calc(1.5vw + 1.3em);
  font-weight: bold;
  color: white;
}

#content p {
  margin-top: 1.5em;
  line-height: 1;
  font-size: calc(3vw + 1em);
  font-family: Arial;
  color: white;
}

#content p strong {
  font-weight: normal;
  color: orange;
}

br.space {
  line-height: 2;
}
