<div id="background" [style.filter]="filter" [style.-webkit-filter]="filter">
  <div id="filter">
  </div>
</div>
<div id="content">
  <h1>
    Þorvarður B. Kjartansson
  </h1>
  <h2>
    Bachelor of Computer Science
  </h2>
  <p>
    <strong>Hi there</strong>, I am Þorvarður
    <br/><br/>
    and I'm a <strong>Web Developer</strong>.
    <br/><br/>
    You are currently
    <br/><br/>
    looking at <strong>my site</strong>,
    <br/>
    hope you like it.
    <br/><br/>
    It's still in <strong>development</strong>,
    <br/>
    so go easy on me.
  </p>
  <p>
    This site uses <strong>Angular</strong>
    <br/><br/>
    and <strong>Github Pages</strong>
    <br/><br/>
    as a host.
    <br/><br/>
    Pretty good, huh?
    <br/><br/>
    If you <strong>like to chat</strong>,
    <br/><br/>
    drop me a line at
    <br/>
    thoddi@outlook.com
  </p>
</div>
<div class="border">
</div>
<div class="border curve">
</div>
