<div id="main">
  <h1>So, this is me!</h1>
  <div id="banner" class="banner"></div>
  <p>
    I'm a graduated <strong>Computer scientist</strong> from Reykjavik University.
    Through my studies, I have mostly concentrated on gaining as much working
    knowledge in <strong>web development</strong>; both client- and server-side.
    <br><br>
    I have made an effort to keep myself on top of popular <strong>frameworks</strong> by
    staying busy with <strong>personal projects</strong>.
  </p>
</div>
