#page {
  margin: 10em 10vw;
  color: white;
}

.wrappers {
  font-size: calc(3vw + 2em);
  font-weight: normal;
}

h2 {
  font-size: calc(5.5vw + 1em);
  margin: 0 0 0.1em 0;
}

h3 {
  font-size: calc(0.5vw + 1.2em);
  margin: 0;
}

.block {
  cursor: pointer;
  background-color: rgba(256,256,256,0.1);
  padding: 1em;
  margin: 2em 0;
  padding-left: 5vw;
  transition: 600ms ease;
}

.block.selected,
.block:hover{
  background-color: white;
  color: black;
}

.wrapper{
  height: 0px;
  overflow: hidden;
  transition: 600ms ease;
}

.description {
  max-width: 40em;
}

.expandButton{
  height: calc(1.5vw + 1.5em);
  width: calc(5vw + 5em);
  margin: 1.5em auto 0 auto;
  overflow: hidden;
  transition: 600ms ease;
}

.expandButton.up{
  transform: rotateX(180deg);
}

.leftsidearrow, .rightsidearrow{
  display: inline-block;
  margin: 0;
  margin-top: calc(1vw + 1em);
  border-width: 0;
  height: 0.3em;
  width: 50%;
  background-color: white;
  transition: 600ms ease;
}

.leftsidearrow{
  transform-origin: right;
  transform: rotate(20deg) translateX(1px);
}

.rightsidearrow{
  transform-origin: left;
  transform: rotate(-20deg) translateX(-1px);
}

.expandButton.up .rightsidearrow,
.expandButton.up .leftsidearrow,
.block:hover .rightsidearrow,
.block:hover .leftsidearrow{
  background-color: black;
}

/*.expandButton.hover{
  height: 0px;
}*/
