#page {
  margin: 10em 10vw;
  color: white;
}

.wrappers {
  font-size: calc(3vw + 2em);
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  margin: 3em 0;
}

h2 {
  font-size: calc(5vw + 2em);
  margin-top: 0;
}

h3 {
  font-size: calc(0.5vw + 1.2em);
  margin-bottom: 0;
}

.project {
  cursor: pointer;
  transition:  600ms ease;
}

.project:hover {
  background-color: white;
  color: black;
}
