nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  background-color: green;
}
#menu {
  cursor: pointer;
  position: fixed;
  z-index: 15;
  font-size: 5em;
  color: white;
  font-weight: bold;
  right: calc(3.5vw + 0.4em);
  top: calc(4vw + 0.5em);
  transform: scale(-1, 1);
}

.hamburger {
  height: calc(0.3vw + 0.06em);
  width: calc(2.5vw + 0.4em);
  background-color: white;
  transition: all 600ms ease;
}

#line2 {
  margin: calc(0.5vw + 0.05em) 0;
}

#line1.active {
  transform: rotate(45deg) translateY(calc(1.15vw + 0.15em));
}

#line2.active {
  /*transform: rotate(360deg);*/
  width: 0;
  margin-left: 25%;
  margin-right: 75%;
}

#line3.active {
  transform: rotate(-45deg) translateY(calc(-1.15vw - 0.15em));
}

#panel {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: calc(10vw + 13em);
  z-index: 1;
  transition: all 600ms ease;
}

#panel.inactive {
  right: calc(-1 * (10vw + 13em));
}

#panel.active {
  right: 0;
}

.selected {
  font-weight: bold;
}

#panel ul {
  margin: 60% 10%;
  list-style: none;
  font-size: calc(2vmin + 1em);
  font-size: calc(1vm + 1em);
}

#panel li {
  color: white;
  cursor: pointer;
  margin: 1em 0;
  text-transform: uppercase;
}

.linethrough {
  text-decoration: line-through white;
}
