nav {
  position: absolute;
  right: 0;
  top: 0;
  width: 2em;
  background-color: green;
}
#menu {
  cursor: pointer;
  position: fixed;
  z-index: 15;
  font-size: 5em;
  color: white;
  font-weight: bold;
  right: calc(5vw + 0.2em);
  top: 4vw;
}

#panel {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  width: calc(10vw + 13em);
  z-index: 1;
  transition: all 600ms ease;
}

#panel.inactive {
  right: calc(-1 * (10vw + 13em));
}

#panel.active {
  right: 0;
}

.selected {
  font-weight: bold;
}

#panel ul {
  margin: 60% 10%;
  list-style: none;
  font-size: calc(2vmin + 1em);
  font-size: calc(1vm + 1em);
}

#panel li {
  color: white;
  cursor: pointer;
  margin: 1em 0;
  text-transform: uppercase;
}
