<nav>
  <ul class="tabrow">
    <li id="about" class="selected"(click)="onClick('about')"
        [routerLink]="['/about']">Um mig</li>
    <li id="education" (click)="onClick('education')"
        [routerLink]="['/education']">Menntun</li>
    <li id="experience" (click)="onClick('experience')"
        [routerLink]="['/experience']">Starfsreynsla</li>
    <li id="knowledge" (click)="onClick('knowledge')"
        [routerLink]="['/knowledge']">Þekking</li>
    <li id="projects" (click)="onClick('projects')"
        [routerLink]="['/projects']">Verkefni</li>
  </ul>
</nav>
