<nav>
  <ul class="tabrow">
    <!--<li id="about" class="selected"(click)="onClick('about')"
        [routerLink]="['/about']">Um mig</li>
    <li id="education" (click)="onClick('education')"
        [routerLink]="['/education']">Menntun</li>
    <li id="experience" (click)="onClick('experience')"
        [routerLink]="['/experience']">Starfsreynsla</li>
    <li id="knowledge" (click)="onClick('knowledge')"
        [routerLink]="['/knowledge']">Þekking</li>
    <li id="projects" (click)="onClick('projects')"
        [routerLink]="['/projects']">Verkefni</li>-->

    <li id="about" class="selected"(click)="onClick('about')">Um mig</li>
    <li id="education" (click)="onClick('education')">Menntun</li>
    <li id="experience" (click)="onClick('experience')">Starfsreynsla</li>
    <li id="knowledge" (click)="onClick('knowledge')">Þekking</li>
    <li id="projects" (click)="onClick('projects')">Verkefni</li>
  </ul>
</nav>
