<nav>
  <div id="menu" (click)="onExpand()">
    <div id="line1" class="hamburger"
                    [class.inactive]="!menuIsActive"
                    [class.active]="menuIsActive"></div>
    <div id="line2" class="hamburger"
                    [class.inactive]="!menuIsActive"
                    [class.active]="menuIsActive"></div>
    <div id="line3" class="hamburger"
                    [class.inactive]="!menuIsActive"
                    [class.active]="menuIsActive"></div>
  </div>
  <div id="panel" [class.inactive]="!menuIsActive" [class.active]="menuIsActive">
    <ul>
      <li id="home" [class.selected]="isCurrentTab('home')"
                    (click)="onClick('home')"
                    [routerLink]="['']">Home</li>
      <li id="projects" [class.selected]="isCurrentTab('projects')"
                    (click)="onClick('projects')"
                    [routerLink]="['/projects']">Projects</li>
      <li id="about" [class.selected]="isCurrentTab('about')"
                    class="linethrough"
                    (click)="onClick('about')"
                    [routerLink]="['/about']">About</li>
      <li id="experience" [class.selected]="isCurrentTab('experience')"
                    class="linethrough"
                    (click)="onClick('experience')"
                    [routerLink]="['/experience']">CV</li>
      <li id="knowledge" [class.selected]="isCurrentTab('knowledge')"
                    class="linethrough"
                    (click)="onClick('knowledge')"
                    [routerLink]="['/knowledge']">Contact</li>
    </ul>
  </div>
</nav>
