<div id="content">
  <h1>InstaPOS</h1>
  <div id="banner" class="banner"></div>
  <p>
    As a <strong>final project</strong> in RU, me and three other
    students did an app for Valitor, payment solutions company.
    <br><br>
    The app would work as a <strong>point-of-sale device</strong>
    and take payments through NFC or by manually inputing the card
    information.
    <br><br>
    The app was developed with <strong>Xamarin</strong>, written in
    C#, and the API was in .Net.
  </p>
  <div id="images">
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot1.jpg?raw=true"/>
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot2.jpg?raw=true"/>
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot3.jpg?raw=true"/>
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot4.jpg?raw=true"/>
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot5.jpg?raw=true"/>
    <img src="https://github.com/thoddi/cv/blob/master/docs/assets/skot6.jpg?raw=true"/>
  </div>
  <p>
    I touched on almost all areas: I
    worked on the <strong>API</strong>, the <strong>business logic</strong>
    on the client and created most of the <strong>UI</strong>.
    <br><br>
    The code is the property of <strong>Valitor</strong>, but here is our report
    for the project:
  </p>
  <a href="https://drive.google.com/file/d/0B0nLKFdSM0Uadm1KWnpxMFFKY3c/view?usp=sharing"
      target="_blank">
    Instapos Report
  </a>
</div>
